[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
python-dotenv = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-freeipa = "*"
flask-wtf = "*"
python-ldap = "*"
bootstrap-flask = "*"
flask-moment = "*"

[requires]
python_version = "2.7"
